<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}">
    <title>Home Page Third Third</title>
</head>
<body>
<!--

    *******

    *******

-->
<div class="container">
    <p class="alert alert-secondary mt-1" style="font-family: SansSerif,sans-serif; font-size: 30px;" th:text="${title}"></p>
    <p><strong class="alert alert-warning pt-1 pb-1">Update Customer Entity</strong></p>
    <form class="form-control" th:action="@{/update}"  method="post">
        <label class="form-label" >Nickname</label>
        <input class="form-control" type="text" name="nickname" th:value="*{customer.getNickname()}" > <!-- can also use th:field="<name attribute>"-->
        <!-- passed old nickname for search -->
        <input class="form-control" type="hidden" name="nicknameOld" th:value="${customer.getNickname()}" > <!-- can also use th:field="<name attribute>"-->
        <label class="form-label" >Age</label>
        <input class="form-control" type="number" name="age" th:value="*{customer.getAge()}">
        <input class="form-control" type="hidden" name="ageOld" th:value="${customer.getAge()}" > <!-- can also use th:field="<name attribute>"-->
        <label class="form-label" >Salary</label>
        <input class="form-control" type="number" name="salary" th:value="*{customer.getSalary()}">
        <input class="form-control" type="hidden" name="salaryOld" th:value="${customer.getSalary()}" > <!-- can also use th:field="<name attribute>"-->
        <!-- type hidden for replaceAll() -->
        <input class="form-control" type="hidden" name="gender" th:value="*{customer.getGender()}">
        <button class="btn btn-dark mt-2" type="submit">click</button>
    </form>
</div>

<div class="container mt-2">
    <a class="btn btn-warning mb-1" th:href="@{/three/reads}">Go back</a>
</div>

</body>
</html>

